$borderRadius: 6px;
$containerWidth: 800px;
$fontColorPrimary: #FFFFFF;
$fontSize: 18px;
$fontStack: Open Sans,Segoe UI,sans-serif;

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background: linear-gradient(135deg,#6fa8ef,#0080ff);
  color: $fontColorPrimary;
  font-family: $fontStack;
  font-size: $fontSize;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 20px;
  width: 100%;
  color: $fontColorPrimary;
}

#lunch-crew-join-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  max-width: $containerWidth;
}

/* Components */
.crew-name {
  display: block;
  text-align: center;
  width: 100%;
}

.destination-list__list {
  border: 3px solid #FFFFFF;
  border-radius: $borderRadius;
  max-height: 300px;
  padding: 5px;
  overflow-y: auto;
  width: 100%;
}

.title {
  text-align: center;
}

.form {
  width: 100%;
}

.form__form-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form__form-wrapper__input {
  width: 100%;

  background: none;
  border: 3px solid #FFFFFF;
  border-radius: $borderRadius;
  color: #ffffff;
  padding: 5px;
}

.form__form-wrapper__submit {
  margin-left: -35px;
  margin-top: -5px;
  position: absolute;

  background: none;
  border: none;
  color: white;
  font-size: 50px;
}

.form__form-wrapper__submit:hover {
  cursor: pointer;
}

.form__instructions {
  text-align: center;
}

.lunch-crew-room {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  max-width: $containerWidth;
}

.lunch-crew-room__destination-list-wrapper {
  flex-basis: 50%;
  min-width: 300px;
}

.lunch-crew-room__destination-selection {
  flex-grow: 1;
}

.lunch-crew-room__destination-selection__selected-destination {
  display: block;
  margin-top: 100px;

  font-size: 2rem;
  text-align: center;
}

.lunch-crew-room__destination-selection__select-destination {
  background-color: #FFC107;
  border: 2px solid darken(#FFC107, 10%);
  border-radius: $borderRadius;
  color: #ffffff;
  display: block;
  font-size: 1.4rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.title{
  font-family: 'Bungee Shade', cursive;
  font-size: 60px;
  cursor: default;
}

.btn {
  text-decoration: none;
  background-color: #fff;
  color: #888;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;
}

.btn--big {
  font-size: 24px;
  padding: 5px 10px;
  font-weight: 400;
  height: 40px;
}

.btn--green {
  border-color: #33c45f;
  color: #fff;
  background-color: #33c45f;
}

label {
  font-size: 24px;
}

input[type=text] {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 40px;
  font-size: 28px;
}

/* Rainbow text */
.unicorn.animate span {
    -webkit-animation: colorRotate 5s linear 0s infinite;
    -moz-animation: colorRotate 5s linear 0s infinite;
    -o-animation: colorRotate 5s linear 0s infinite;
    animation: colorRotate 5s linear 0s infinite;
    
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

.unicorn:hover span {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}

@-webkit-keyframes colorRotate {
    from {
        color: rgb(255, 0, 0);
    }
    16.6% {
        color: rgb(255, 0, 255);
    }
    33.3% {
        color: rgb(0, 0, 255);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    66.6% {
        color: rgb(0, 255, 0);
    }
    83.3% {
        color: rgb(255, 255, 0);
    }
    to {
        color: rgb(255, 0, 0);
    }
}
@-moz-keyframes colorRotate {
    from {
        color: rgb(255, 0, 0);
    }
    16.6% {
        color: rgb(255, 0, 255);
    }
    33.3% {
        color: rgb(0, 0, 255);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    66.6% {
        color: rgb(0, 255, 0);
    }
    83.3% {
        color: rgb(255, 255, 0);
    }
    to {
        color: rgb(255, 0, 0);
    }
}
@-o-keyframes colorRotate {
    from {
        color: rgb(255, 0, 0);
    }
    16.6% {
        color: rgb(255, 0, 255);
    }
    33.3% {
        color: rgb(0, 0, 255);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    66.6% {
        color: rgb(0, 255, 0);
    }
    83.3% {
        color: rgb(255, 255, 0);
    }
    to {
        color: rgb(255, 0, 0);
    }
}
@keyframes colorRotate {
    from {
        color: rgb(255, 0, 0);
    }
    16.6% {
        color: rgb(255, 0, 255);
    }
    33.3% {
        color: rgb(0, 0, 255);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    66.6% {
        color: rgb(0, 255, 0);
    }
    83.3% {
        color: rgb(255, 255, 0);
    }
    to {
        color: rgb(255, 0, 0);
    }
}